
h1 {color:red;
font: normal 36px Times, serif;
text-align: center;}
p {font: 12px/1.4 Arial, sans-serif;
margin-left: 30mm;}
body.bg {background-image: url("img/fon.png"); background-color:darkolivegreen;}
